In [1]:
import psycopg2
from sklearn import svm
import pandas.io.sql as psql
import psycopg2
import re
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import grid_search
import xgboost as xgb
from sklearn.externals import joblib
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

In [2]:
import json
with open('/Users/krishna/MOOC/smart-city/login.json') as data_file:
    db = json.load(data_file)

conn = psycopg2.connect(database=db['dbname'], user=db['user'], password=db['password'], host=db['host'], port=db['port'])

In [8]:
dataframe = psql.frame_query("select idd,text,local_score,alch_score,sentiment from twitter.tweets where alch_score != '0' and local_score is not null limit 200;",conn)

In [9]:
dataframe.shape

(200, 5)

In [12]:
dataframe.head()

,idd,text,local_score,alch_score,sentiment
0,718749007686799360,RT @DaveMustaine: Sad Wings Of Destiny by far ...,4,-0.268569,2
1,717268709195309056,Original Poster France Lyon City River Bridge ...,4,-0.722709,4
2,717270947397406721,Got a question for Ross Lyon @freodockers... L...,3,-0.722709,3
3,718043948896370688,RT @scottyvaIens: COOKIE LYON\n\n- independent...,2,-0.722708,3
4,726123085800312833,"#FRESHBEATS Listen to EarllyMac, Chuckisdope a...",3,-0.722708,3

In [ ]:
dataframe.to_csv(file_name, sep='\t')